<!-- Loop over each object in the blogs array -->
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>
            <!-- link to blog post here -->
        </h2>
        <p>
            <!-- blog post content here -->
        </p>
            <!-- username and date posted here -->
        <p>Created by on</p>
    </div>
</div>
{{/each}}